.banner-section{
    background-color: #264653 !important;
}
.banner-btn{
    background-color: #E76F51 !important;
}
.banner-text h1{
font-size: 48px;
}
.banner-text p{
font-size: 16px;
}
.feature-product img{
height: 243px;
width: 288px;
}
.gray-scale{
    filter: grayscale(100%);
}
.feature-text h1{
    font-size: 48px;
}
.feature-text p{
    font-size: 14px;
    color: #E76F51;
}
.feature-product{
    margin-bottom: 100px !important;
}
.latest-btn {
    background-color: #E76F51 !important;
}
.cbr-btn .btn{
color: #E76F51 !important;
border-color: #E76F51 !important;
}
.client-image{
    height: 149px;
    width: 149px;
}
.faq-banner img{
    width: 431px !important;
    height: 423px !important;
}
.footer-list{
    list-style: none;
    display: flex;
}
.footer-list a{
    text-decoration: none;
}